* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

header
{
 height: 100vh;
 background-image: url("landing.png");
 /* flex-box thing */
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-size: cover; 
}

li {
  float: left;
  list-style-type: none;
  font-family: sans-serif;
  margin: auto;
  padding: 1rem;
  color: gray;
}





#navbar {
  background-color: black;
  width: 100vw;
  position: absolute;
  height: 3rem;
  top: 0;
}

@media only screen and (max-width: 767px) {
  header {
    /* The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections */
    background-image: url("landing-mobile.png");
  }
}